@import url(https://cdn.jsdelivr.net/npm/modern-normalize/modern-normalize.min.css);
@import url(https://nava.community/_includes/assets/css/template.css);

body {
    font-family: 'Nimbus', -apple-system, system-ui, sans-serif;
}

body#home {
    background-image: linear-gradient(-45deg, #fe8625, #ffc634, #f31ea1, #84b1f3, #3d6fc1, #182558, #090f32);
    background-size: 300% 300%;
    animation: gradient 20s ease-in-out infinite;
    color: white;
}

h2,
h3 {
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 0.01em;
}

hr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.logo img {
    height: 2rem;
}

@media (min-width: 1280px) {
    body#home section:nth-child(-n + 3) {
        float: left;
        width: 50%;
    }
    body#home section:nth-child(2) {
        border-left: 1px solid black;
    }
}

@font-face {
    font-family: 'Nimbus';
    src: url('NimbusSansDOT-LighExte.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Nimbus';
    src: url('NimbusSansDOT-ReguExte.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
