@import url(https://cdn.jsdelivr.net/npm/modern-normalize/modern-normalize.min.css);
@import url(https://nava.community/_includes/assets/css/template.css);

body {
	font-family: 'Nimbus', system-ui;
}

h2,
h3 {
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 0.01em;
}

.logo img {
	height: 3rem;
}

@font-face {
	font-family: 'Nimbus';
	src: url('NimbusSansDOT-LighExte.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Nimbus';
	src: url('NimbusSansDOT-ReguExte.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
