#svg {
    pointer-events: none;
}

#svg svg {
    position: absolute;
    width: 20%;
    opacity: 0.9;
}

svg path,
.path {
    animation: dash 2s ease-in-out forwards;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}
