#svg {
    pointer-events: none;
}

#svg svg {
    position: absolute;
    width: 15%;
}

svg path,
.path {
    animation: dash 2s ease-in-out forwards;
}

svg {
    opacity: 1;
    transition: opacity 600ms ease-in;
}

path {
    /*stroke: white !important;*/
    /*mix-blend-mode: difference;*/
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

svg.fade {
    opacity: 0;
}
