#svg svg {
    position: absolute;
    width: 15%;
}

path {
    animation: dash 3000ms ease-in-out forwards;
    cursor: pointer;
}

svg {
    opacity: 1;
    filter: blur(0);
    will-change: opacity, filter;
    transition: all 600ms ease-in;
}

svg.fade {
    opacity: 0;
    filter: blur(10px);
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}
