:root {
    --light: #fff;
    --dark: #1c2342;
    --gray: #fafafa;
    --blue: #1c2342; /*#1c2342;*/
    --pink: #c71881; /*#c71881;*/
}

/* home */

#esther article section:first-child {
    display: none;
}
table {
    display: table !important;
    table-layout: fixed;
}
td,
th {
    padding: 0.5rem;
}
table,
thead,
tbody,
th,
td {
    width: 100%;
    word-wrap: break-word;
}

html {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    /*color: var(--dark);*/
    background-color: var(--light);
    /*scroll-behavior: smooth;*/
    color: var(--blue);
    /*font-size: 90%;*/
    counter-reset: link;
}

body {
    margin-top: 0;
    font-size: 17px;
}

main:after {
    content: '';
    display: block;
    clear: both;
}

/* ARTICLE */

blockquote {
    padding: 0;
    /*margin: 0;*/
    padding-bottom: 5rem;
    padding: 5rem 0;
    box-sizing: border-box;
    opacity: 0.8;
    font-size: 140%;
}

p {
    padding-top: 0 !important;
    margin-top: 0 !important;
}

p img {
    width: 100%;
}

p a {
    color: var(--pink);
    border-bottom: 1px solid var(--pink);
    padding-bottom: 1px;
}

p a:hover {
    color: var(--blue);
    border-bottom-color: var(--blue);
}

h2#references ~ ol {
    font-size: 80%;
    opacity: 0.5;
    padding-left: 0;
}

/*p a {
    background: -webkit-linear-gradient(45deg, red, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}*/

h1 {
    font-size: 2.6rem;
    text-align: center;
    padding: 5rem 0;
    line-height: 1;
    /*background: linear-gradient(-45deg, var(--pink), blue);
    background-size: 300% 300%;
    animation: gradient 20s ease-in-out infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h2 {
    font-weight: inherit;
}

h2,
h2 + .sub {
    font-size: 1.4rem;
    text-transform: none;
    text-align: left;
}

/*h2:not(:target) + div {
    display: none;
}
*/
.sub {
    display: block;
    font-style: normal;
    opacity: 0.5;
    margin-top: -1.5rem;
}

h3 {
    margin-bottom: 0.5rem !important;
}

h4 {
    margin-bottom: 0 !important;
    padding-bottom: 0;
    font-weight: 300;
}

figure.image {
    cursor: zoom-in;
}

figure.image img {
    width: 100%;
    transition: all 200ms ease-in-out;
}

figure.image:active img {
    /*width: 140%;*/
    /*margin-left: -20%;*/
}

p.slideshow {
    display: flex;
    overflow-x: scroll;
}

p.slideshow img:not(:first-child) {
    margin-left: 2rem;
}

/* article */

article {
    position: relative;
    /*position: absolute;*/
    /*padding-top: 4rem;*/
    width: 100%;
    margin: 0 auto;
    /*background-color: white;*/
    z-index: 100;
    transform-style: preserve-3d;
    /*transition: transform 200ms ease-in-out;*/
    /*transform: translate(0, 4rem);*/
    padding-bottom: 4rem;
}

/* header */

#header {
    z-index: 100;
    /*position: fixed;*/
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 3.5rem;
    font-size: 80%;
    text-align: center;
    background-color: var(--blue);
    color: var(--light);
    /*background-color: #fdfdfd;*/
    /*color: var(--dark);*/
    box-shadow: inset black 0 -10px 40px -30px;
    transition: height 300ms ease-in-out;
    overflow: hidden;
    /*will-change: height;*/
}

header {
    width: 100%;
    /*max-width: calc(80ex + 2rem);*/
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    text-align: left;
}

#header:hover {
    /*height: auto;*/
    height: 14rem;
    /*max-height: 100%;*/
}

#header:hover ~ article {
    /*transform: translate(0, 16rem);*/
    /*transform: translate(0, 0);*/
}

#header:not(:hover) ~ article {
}

#header-faux {
    display: none;
}

#header-faux,
header > * {
    /*height: 3rem;*/
}

header > * {
    float: left;
    width: 15%;
    padding: 1rem;
    overflow: hidden;
    /*background-color: white;*/
}

header nav {
    /*margin-top: 1rem;*/
}

header div {
    /*text-align: center;*/
}

header div:hover {
    height: auto;
}

header div:not(:hover) nav {
    /*display: none;*/
}

header span {
    display: inline-block;
    margin-bottom: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    opacity: 0.8;
    /*white-space: nowrap;*/
    /*text-overflow:ellipsis;*/
    white-space: pre-line;
}

/* logo */

header .logo img {
    width: auto;
    height: 100%;
    height: 1rem;
}

header .logo img {
    transform-style: preserve-3d;
    transition: transform 400ms ease-in-out;
}

header .logo img:hover {
    transform: rotateY(180deg);
}

/* aside */

aside {
    z-index: 140;
    position: fixed !important;
    padding: 1rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
    font-size: 90%;
    white-space: nowrap;
    overflow-y: scroll;
    /*transition: background-color 300ms ease-in-out;*/
    opacity: 0.5;
}

aside:hover > nav div {
    opacity: 1;
    /*transform: translate(0, 0);*/
    padding-left: 0.5rem;
}

aside:hover {
    background-color: var(--light);
    background-color: #fafafa;
    opacity: 1;
    color: var(--dark);
}

aside nav {
    max-height: 24rem;
}

aside nav a:not(:last-of-type):before {
    counter-increment: link;
    content: counters(link, '.', decimal-leading-zero) ' ';
}

aside nav div {
    display: inline-block;
    /*will-change: opacity;*/
    opacity: 0;
    position: relative;
    /*transform: translate(-10px, 0);*/
    /*transition: all 200ms ease-in-out;*/
}

aside nav a.h2 div {
    /*text-indent: 1rem;*/
}

aside nav a.h3 div {
    text-indent: 1rem;
}

aside nav a.h4 div {
    text-indent: 2rem;
}

/* TABLES */

tbody tr:nth-child(odd) {
    background-color: #eee;
}

th {
    text-align: left;
}

/* OTHER */

.group {
    float: left;
    width: 33.33%;
}

.group + *:not(.group) {
    clear: left;
}

/* LOADING BAR */

.loading-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.5rem;
    z-index: 110;
    /*pointer-events: none;*/
    /*mix-blend-mode: difference;*/
    /*opacity: 0;*/
    box-sizing: border-box;
}

.loading-bar .bar {
    top: 0;
    left: 0;
    width: 0;
    background-image: linear-gradient(45deg, white, black);
    height: 100%;
}

/* LOGO */

#esther .cover video {
    filter: saturate(0.5) contrast(1.25);
}

#esther .cover img {
    position: static;
    width: 40vw;
    object-fit: contain;
    max-height: 20vh;
    mix-blend-mode: exclusion;
}

/* COVER */

.cover {
    position: relative;
    height: calc(100vh - 3.5rem);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}

.cover:after {
    content: '↓';
    display: block;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    font-size: 60px;
    animation: go-down 2000ms ease-in-out infinite;
}

@keyframes go-down {
    0% {
        transform: translate(0, -40px);
    }
    100% {
        transform: translate(0, 0);
    }
}

.cover > * {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100vw;
    height: 100%;
}

/* footer */

footer {
    display: none;
    width: 100%;
    padding: 2rem;
    background-color: var(--blue);
}

#social {
    float: left;
    width: 50%;
    max-width: 500px;
    display: table;
}

footer:after {
    clear: both;
    content: '';
    display: block;
}

#logos {
    float: right;
    width: 50%;
    min-width: 500px;
    max-width: 700px;
    display: table;
}

#social > *,
#logos > * {
    vertical-align: middle;
    padding: 0 0.5rem;
    width: calc(20% - 1rem);
    width: 20%;
    display: inline-table;
    text-align: center;
}
/* TEAM */

#team ul {
    list-style: none;
    padding-left: 0;
    opacity: 0.8;
}

#team img {
    border-radius: 5px;
}

/* SMALLER */

@media (max-width: 600px) {
    #team h3,
    #team ul {
        text-align: center;
    }
}

/* SMALL */

@media (max-width: 800px) {
    aside {
        display: none;
    }
}

/* LARGE */

@media (min-width: 801px) {
    h2,
    h2 + .sub {
        text-align: center;
    }

    .member {
        column-count: 2;
        margin-bottom: 1rem;
    }
    h3 {
        text-transform: uppercase;
        /*text-align: center;*/
    }
}

.callout {
    padding: 1rem;
    box-sizing: border-box;
    outline: 1px solid rgba(0, 0, 0, 0.04);
    background-color: rgba(0, 0, 0, 0.02);
    display: flex;
}

.callout .emoji {
    padding-right: 1rem;
}

.definition {
    cursor: help;
    border-bottom: 1px dotted black;
}
.page .title {
    padding: 2rem 0;
    font-size: 24px;
}

.center {
    text-align: center;
}

.preamble {
    font-style: italic;
}
