:root {
    --light: #fff;
    --dark: #0c0c0c;
    --blue: #000; /*#1c2342;*/
    --pink: #fff; /*#c71881;*/
}

/* home */

#esther article section:first-child {
    display: none;
}

/*article > *:last-child,
article > *:last-child > *:last-child {
    margin-bottom:0;
}

article > *:last-child > *:last-child img {
    padding:0;
}*/

/* */

html {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /*overflow-x: hidden;*/
    color: var(--dark);
    background-color: var(--light);
    /*scroll-behavior: smooth;*/
    color: var(--blue);
    /*font-size: 90%;*/
    counter-reset: link;
}

body {
    margin-top: 0;
    font-size: 18px;
}

article {
    margin: 0 auto;
}

/*body:not(#home) article > *:not(figure) {
    max-width: 110ex;
    width: 80vw;
}
*/

h3:before {
    content: '';
    display: block;
    padding-top: 100px;
    position: absolute;
}

main:after {
    content: '';
    display: block;
    clear: both;
}

/*body:not(#home) article > *:not(figure) {
    max-width: 91ex !important;
}*/

/* ARTICLE */

p a blockquote {
    padding: 0;
    /*margin: 0;*/
    padding-bottom: 5rem;
    padding: 5rem 0;
    box-sizing: border-box;
    opacity: 0.8;
    font-size: 140%;
}

p {
    padding-top: 0 !important;
    margin-top: 0 !important;
}

p img {
    width: 130%;
    margin-left: -15%;
    /*background-color: #fafafa;*/
    padding: 1rem;
    border-radius: 1rem;
    box-sizing: border-box;
}

/*p a {
    background: -webkit-linear-gradient(45deg, red, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}*/

h1 {
    font-size: 2.4rem;
    text-align: center;
    padding: 10rem 0;
    line-height: 1;
    /*background: -webkit-linear-gradient(45deg, red, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
}

h2 {
    font-weight: inherit;
}

h2,
h2 + .sub {
    font-size: 1.4rem;
    text-transform: none;
    text-align: left;
}

/*h2:not(:target) + div {
    display: none;
}
*/
.sub {
    display: block;
    font-style: normal;
    opacity: 0.5;
    margin-top: -1.5rem;
}

h3 {
    margin-bottom: 0.5rem !important;
}

h4 {
    margin-bottom: 0 !important;
    padding-bottom: 0;
    font-weight: 300;
}

p.image {
    /*display: none;*/
}

/* FOOTER */

footer {
    width: 100%;
    padding: 2rem;
    background-color: var(--blue);
}

#social {
    float: left;
    width: 50%;
    max-width: 500px;
    display: table;
}

footer:after {
    clear: both;
    content: '';
    display: block;
}

#logos {
    float: right;
    width: 50%;
    max-width: 500px;
    display: table;
}

#social > *,
#logos > * {
    vertical-align: middle;
    padding: 0 0.5rem;
    width: calc(20% - 1rem);
    width: 20%;
    display: inline-table;
    text-align: center;
}
/*
footer #logos img {
    width: 100px;
}*/

/* header */

#header {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-size: 80%;
    text-align: center;
}

header {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    text-align: left;
}

#header-faux,
header > * {
    height: 3rem;
}

header > * {
    float: left;
    width: 20%;
    padding: 1rem 0.5rem;
    overflow: hidden;
    background-color: white;
}

header nav {
    margin-top: 1rem;
}

header div {
    /*text-align: center;*/
}

header div:hover {
    height: auto;
}

header div:not(:hover) nav {
    display: none;
}

header span {
    display: inline-block;
    margin-bottom: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    opacity: 0.6;
}

/* logo */

header .logo img {
    width: auto;
    height: 100%;
    height: 1rem;
}

header .logo img {
    transform-style: preserve-3d;
    transition: transform 400ms ease-in-out;
}

header .logo img:hover {
    transform: rotateY(180deg);
}

/* aside */

aside {
    position: fixed !important;
    padding: 1rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
    font-size: 90%;
    white-space: nowrap;
    overflow-y: scroll;
    transition: background-color 300ms ease-in-out;
}

aside:hover > nav div {
    opacity: 1;
    transform: translate(0, 0);
}

aside:hover {
    background-color: white;
}

aside nav {
    max-height: 24rem;
}

aside nav a:not(:last-of-type):before {
    counter-increment: link;
    content: counters(link, '.', decimal-leading-zero) ' ';
}

aside nav div {
    display: inline-block;
    will-change: opacity;
    opacity: 0;
    position: relative;
    transform: translate(-10px, 0);
    transition: all 300ms ease-in-out;
}

aside nav a.h2 div {
    /*text-indent: 1rem;*/
}

aside nav a.h3 div {
    text-indent: 1rem;
}

aside nav a.h4 div {
    text-indent: 2rem;
}

/* TABLES */

tbody tr:nth-child(odd) {
    background-color: #eee;
}

th {
    text-align: left;
}

/* OTHER */

.group {
    float: left;
    width: 33.33%;
}

.group + *:not(.group) {
    clear: left;
}

/* LOADING BAR */

.loading-bar {
    position: fixed;
    top: 3rem;
    left: 0;
    width: 100%;
    height: 0.5rem;
    z-index: 90;
    /*pointer-events: none;*/
    /*mix-blend-mode: difference;*/
    /*opacity: 0;*/
    box-sizing: border-box;
}

.loading-bar .bar {
    top: 0;
    left: 0;
    width: 0;
    background-image: linear-gradient(45deg, var(--blue), var(--pink));
    height: 100%;
}

/* LOGO */

.cover {
    /*filter: saturate(0) contrast(1.5);*/
}

/* COVER */

.cover {
    position: relative;
    height: 80vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover ixmg {
    position: static;
    width: 40vw;
    max-height: 20vh;
    mix-blend-mode: exclusion;
}
.cover > * {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100vw;
    height: 100%;
}

/* TEAM */

#team ul {
    list-style: none;
    padding-left: 0;
    opacity: 0.8;
}

#team img {
    border-radius: 5px;
}

/* SMALLER */

@media (max-width: 600px) {
    #team h3,
    #team ul {
        text-align: center;
    }
}

/* SMALL */

@media (max-width: 800px) {
    aside {
        display: none;
    }
}

/* LARGE */

@media (min-width: 801px) {
    h2,
    h2 + .sub {
        text-align: center;
    }

    .member {
        column-count: 2;
        margin-bottom: 1rem;
    }
}

.page .title {
    padding: 2rem 0;
    font-size: 24px;
}

.center {
    text-align: center;
}

.preamble {
    font-style: italic;
}
