:root {
	--color: #e1e7ed;
}

.logo {
	width: 100px;
}

body {
	/*margin-top: 4rem;*/
	margin-top: 0;
}

header {
	position: absolute;
	top: 0;
	padding: 1rem;
	width: 100vw;
	height: 4rem;
	box-sizing: border-box;
	/*background-color: white;*/
	mix-blend-mode: difference;
	color: white;
	z-index: 1;
}

header > * {
	float: left;
	display: flex;
}

.cover {
	position: relative;
	height: 100vh;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cover video {
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	width: 100vw;
	height: 100vh;
}

header nav > * {
	margin-left: 1rem;
}

.page .title {
	padding: 2rem 0;
	font-size: 24px;
}

.page h1 {
}

article > * {
	margin: 0 auto;
}

article > *:not(.image) {
	width: 40rem;
}

.center {
	text-align: center;
}

.cover {
	width: 100vw;
	height: 50.25vh;
	background-repeat: no-repeat;
	background-size: cover;
	/*background-attachment: fixed;*/
	background-position: center center;
	background-color: black;
}

main:after {
	content: '';
	display: block;
	clear: both;
}

h2 {
	font-weight: inherit;
}

h2,
h2 + .preamble {
	font-size: 1.8rem;
}

.preamble {
	font-style: italic;
}

article.columns > div {
	float: left;
	width: 50%;
	box-sizing: border-box;
}

article.columns div.text {
	width: 60%;
}

article.columns div.image {
	width: 40%;
}

article > div:first-child {
	padding-right: 1rem;
}

article > div:last-child {
	padding-left: 1rem;
}

article {
	clear: left;
}

a.link {
	display: inline-block;
	background-color: tomato;
	padding: 0.5rem 1rem;
	color: white;
	font-style: bold;
	text-transform: uppercase;
}

.preamble {
	/*font-style: italic;*/
}

.image:after {
	display: block;
	content: '';
	width: 100%;
	height: 300px;
	background-color: var(--color);
}
