
    {% if title == 'esther' %}
    <footer>
        <div id="logos">
           <span><img style="width:50%" src="https://2019.igem.org/wiki/images/b/b6/T--Stockholm--Kth_logo_white.png"></span>
           <span><img src="https://2019.igem.org/wiki/images/7/7f/T--Stockholm--recipharm_logo_white.png"></span>
           <span><img src="https://2019.igem.org/wiki/images/e/ef/T--Stockholm--snapgene_logo_white.png"></span>
           <span><img style="width:80%" src="https://2019.igem.org/wiki/images/6/62/T--Stockholm--microsynth_logo_white.png"></span>
           <span><img style="width:80%" src="https://2019.igem.org/wiki/images/0/06/T--Stockholm--promega_logo_white.png"></span>
           <span><img style="width:80%" src="https://2019.igem.org/wiki/images/0/02/T--Stockholm--ki_logo_white-01.png"></span>
            <div>
               <span><img  style="margin-bottom:0.5rem;" src="https://2019.igem.org/wiki/images/1/1b/T--Stockholm--drivhuset_logo_white.png"></span>
               <span><img src="https://2019.igem.org/wiki/images/2/25/T--Stockholm--ki_innovations_logo_white.png"></span>
            </div>
           <span><img src="https://2019.igem.org/wiki/images/9/92/T--Stockholm--bio-techne_logo_white.png"></span>
           <span><img src="https://2019.igem.org/wiki/images/5/57/T--Stockholm--thermofisher_logo_white.png"></span>
           <span><img src="https://2019.igem.org/wiki/images/2/23/T--Stockholm--neb_logo_white.png"></span>
        </div>
    </footer>	
    {% endif  %}

</body>
</html>