
<head>
    <title>{{ metadata.title }} {{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script src="https://unpkg.com/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js"></script>
    <script src="https://2018.igem.org/common/MathJax-2.5-latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <link href="https://cdn.jsdelivr.net/npm/modern-normalize/modern-normalize.min.css"  type="text/css" rel="stylesheet">
    {% set css %}
        {% include "assets/css/template.css" %}
        {% include "assets/css/style.css" %}
        {% include "assets/css/wiki.css" %}
        {% include "assets/css/svg.css" %}
    {% endset %}
    <style>{{ css | cssmin | safe }}</style>
</head>
<body id="{{ title | slug }}" class="{{ section }}">
    <div id="header">
       <header>
            <a href="/wiki/" class="logo">home</a>
            <div>
                <span>Project&#10;&#10;</span>
                <nav>
                    <a href="/wiki/description/">Description & Inspiration</a>
                    <a href="/wiki/design/">Design</a>
                    <a href="/wiki/notebook/">Notebook</a>
                    <a href="/wiki/results/">Results</a>
                    <a href="/wiki/model/">Model</a>
                    <a href="/wiki/outlook/">Outlook</a>
                    <a href="/wiki/safety/">Safety</a>
                    <a href="/wiki/contribution/">Contribution</a>
                </nav>
            </div>
            <div>
                <span>Parts&#10;&#10;</span>
                <nav>
                    <a href="/wiki/parts/">Parts</a>
                    <a href="/wiki/primers/">Primers</a>
                </nav>
            </div>
            <div>
                <span>Human&#10;Practices</span>
                <nav>
                    <a href="/wiki/human-practices/">Integrated Human Practices</a>
                    <a href="/wiki/public-engagement/">Public Engagement</a>
                </nav>
            </div>
            <div>
                <span>About&#10;&#10;</span>
                <nav>
                    <a href="/wiki/team/">Team</a>
                    <a href="/wiki/attributions/">Attributions</a>
                    <a href="/wiki/collaborations/">Collaborations</a>
                    <a href="/wiki/sponsors/">Sponsors</a>
                    <a href="/wiki/esther-lederberg/">Esther Lederberg</a>
                </nav>
            </div>
            <div>
                <span>Awards&#10;&#10;</span>
                <nav>
                    <a href="/wiki/software/">Software</a>
                    <a href="/wiki/entrepeneurship/">Entrepeneurship</a>
                    <a href="/wiki/medal-criteria/">Medal Criteria</a>
                </nav>
            </div>
        </header>
    </div>
    <!-- <div id="header-faux"></div> -->
