<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ metadata.title }}</title>
	<script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	{% set css %} {% include "assets/inline.css" %} {% endset %}
	{% set js %} {% include "assets/inline.js" %} {% endset %}
</head>
