<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
	<title>{{ metadata.title }} {{ title }}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,user-scalable=no" />
	<script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% set css %} {% include "assets/css/style.css" %} {% include "assets/css/svg.css" %} {% endset %}
    <style>{{ css | cssmin | safe }}</style>
</head>
