<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
    <!-- <base href="http://localhost/11.igem.se/_site/"> -->
    <title>{{ metadata.title }} {{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no" />
    <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% set css %} {% include "assets/css/style.css" %} {% include "assets/css/wiki.css" %} {% endset %}
    <style>{{ css | cssmin | safe }}</style>
</head>
<header>
    <div class="logo">
        <img src="_includes/assets/esther.svg" />
    </div>
    <nav>
        {%- for post in collections.wiki -%}
        <a href="{{ page.url }}" {% if page.url == post.url %} class="active" {% endif %}>{{ post.data.title }}</a>
        {%- endfor -%}
    </nav>
</header>