<html lang="en" prefix="og: http://ogp.me/ns#">
	{% if tags.includes("wiki") %}
		{% include "components/headwiki.njk" %}
	{% else %}
		{% include "components/head.njk" %}
	{% endif %}
<body id="{{ title | slug }}" class="{{ section }}">


	<!-- <script>
		document.querySelector(".cover").onclick = () => {
			document.body.classList.toggle("dark")
		}
	</script> -->

	<div class="loading-bar"><div class="bar"></div></div>


	{% if title != 'esther' %}
	<aside class="sub-nav">
		<nav>
		</nav>
	</aside>
	{% endif  %}

	<article>
		{{ layoutContent | safe }}
	</article>

	{% if theme %}
	<style>
		body {
			background-image: linear-gradient({{ theme.background_color }}); 
			color: {{ theme.text_color }};
		}
	</style>
	{% endif %}

	{% set js2 %} {% include "assets/js/sbol.js" %} {% endset %}
	<script>{{ js2 | jsmin | safe }}</script>


	{% if tags.includes("wiki") %}
		{% include "components/footwiki.njk" %}
	{% else %}
		{% include "components/foot.njk" %}
	{% endif %}
