<!doctype html>
<html>
	{% include "components/head.njk" %}
<body id="{{ title | slug }}" class="{{ section }}">

	<article>
		{{ layoutContent | safe }}
	</article>

	{% if theme %}
	<style>
		body {
			background-image: linear-gradient({{ theme.background_color }}); 
			color: {{ theme.text_color }};
		}
	</style>
	{% endif %}

</body>
</html>
