---
layout: layouts/base.njk
section: home
---

<section>
    <h1>igem<br>stockholm</h1>
</section>
<section>
    <p>{{ metadata.description }}</p>
    <nav>
        <a href="/synthetic-biology-art-exhibition/">Synthetic Biology Art Exhibition</a>
    </nav>
    <span>NAVA</span>
    <nav>
        {% for member in metadata.members %}
        <a href="{{ member.url }}" target="_blank">{{ member.name }}</a>
        {% endfor %}
    </nav>
</section>