---
layout: layouts/base.njk
section: home
---

<section>
    <p>{{ metadata.description }}</p>
    <nav>
        {%- for page in collections.page -%}
        <a href="{{ page.url | url }}"{>{{ page.data.theme.emoji }} {{ page.data.title }}</a>
        {%- endfor -%}
    </nav>
    <span>Team</span>
    <nav>
        {% for member in metadata.members %}
        <div>
            <span>{{ member.emoji }} {{ member.name }}</span>
        </div>
        {% endfor %}
    </nav>
</section>